In [37]:
from peewee import *
from playhouse.postgres_ext import *
import datetime

db = PostgresqlDatabase('test', user='postgres', password='password', host='localhost', port=5432)

In [38]:
import logging
logger = logging.getLogger('peewee')
logger.addHandler(logging.StreamHandler())
logger.setLevel(logging.DEBUG)

In [39]:
class BaseModel(Model):
    class Meta:
        database = db

class User(BaseModel):
    username = TextField()

class Tweet(BaseModel):
    content = TextField()
    code = ArrayField(CharField, null=True)
    cat = CharField(null=True)
    timestamp = DateTimeField(default=datetime.datetime.now)
    user = ForeignKeyField(User, backref='tweets')

class Favorite(BaseModel):
    user = ForeignKeyField(User, backref='favorites')
    tweet = ForeignKeyField(Tweet, backref='favorites')

In [72]:
db.drop_tables([User, Tweet, Favorite])
db.execute_sql('drop AGGREGATE if EXISTS array_concat_agg(anycompatiblearray);')

('DROP TABLE IF EXISTS "favorite"', [])
('DROP TABLE IF EXISTS "favorite"', [])
('DROP TABLE IF EXISTS "tweet"', [])
('DROP TABLE IF EXISTS "tweet"', [])
('DROP TABLE IF EXISTS "user"', [])
('DROP TABLE IF EXISTS "user"', [])
('drop AGGREGATE if EXISTS array_concat_agg(anycompatiblearray);', None)
('drop AGGREGATE if EXISTS array_concat_agg(anycompatiblearray);', None)

In [73]:
def populate_test_data():
    db.create_tables([User, Tweet, Favorite])
    db.execute_sql('CREATE or replace AGGREGATE array_concat_agg(anycompatiblearray) (   SFUNC = array_cat,   STYPE = anycompatiblearray );')
    data = (
        ('huey', ('meow', 'hiss', 'purr'), ('1001','1002'), 'cat1'),
        ('mickey', ('woof', 'whine'), ('1003'), 'cat2'),
        ('zaizee', ('hello', 'greet'), ('1005','1006', '1007'), 'cat1')
    )
    for username, tweets, code, cat in data:
        user = User.create(username=username)
        for tweet in tweets:
            print(f"Tweet = {tweet}, code = {code}")
            Tweet.create(user=user, content=tweet, code=code, cat=cat)

    # Populate a few favorites for our users, such that:
    favorite_data = (
        ('huey', ['whine']),
        ('mickey', ['purr']),
        ('zaizee', ['meow', 'purr']))
    for username, favorites in favorite_data:
        user = User.get(User.username == username)
        for content in favorites:
            tweet = Tweet.get(Tweet.content == content)
            Favorite.create(user=user, tweet=tweet)

In [74]:
populate_test_data()

('CREATE TABLE IF NOT EXISTS "user" ("id" SERIAL NOT NULL PRIMARY KEY, "username" TEXT NOT NULL)', [])
('CREATE TABLE IF NOT EXISTS "user" ("id" SERIAL NOT NULL PRIMARY KEY, "username" TEXT NOT NULL)', [])
('CREATE TABLE IF NOT EXISTS "tweet" ("id" SERIAL NOT NULL PRIMARY KEY, "content" TEXT NOT NULL, "code" VARCHAR(255)[], "cat" VARCHAR(255), "timestamp" TIMESTAMP NOT NULL, "user_id" INTEGER NOT NULL, FOREIGN KEY ("user_id") REFERENCES "user" ("id"))', [])
('CREATE TABLE IF NOT EXISTS "tweet" ("id" SERIAL NOT NULL PRIMARY KEY, "content" TEXT NOT NULL, "code" VARCHAR(255)[], "cat" VARCHAR(255), "timestamp" TIMESTAMP NOT NULL, "user_id" INTEGER NOT NULL, FOREIGN KEY ("user_id") REFERENCES "user" ("id"))', [])
('CREATE INDEX IF NOT EXISTS "tweet_code" ON "tweet" USING GIN ("code")', [])
('CREATE INDEX IF NOT EXISTS "tweet_code" ON "tweet" USING GIN ("code")', [])
('CREATE INDEX IF NOT EXISTS "tweet_user_id" ON "tweet" ("user_id")', [])
('CREATE INDEX IF NOT EXISTS "tweet_user_id" ON "tweet" ("user_id")', [])
('CREATE TABLE IF NOT EXISTS "favorite" ("id" SERIAL NOT NULL PRIMARY KEY, "user_id" INTEGER NOT NULL, "tweet_id" INTEGER NOT NULL, FOREIGN KEY ("user_id") REFERENCES "user" ("id"), FOREIGN KEY ("tweet_id") REFERENCES "tweet" ("id"))', [])
('CREATE TABLE IF NOT EXISTS "favorite" ("id" SERIAL NOT NULL PRIMARY KEY, "user_id" INTEGER NOT NULL, "tweet_id" INTEGER NOT NULL, FOREIGN KEY ("user_id") REFERENCES "user" ("id"), FOREIGN KEY ("tweet_id") REFERENCES "tweet" ("id"))', [])
('CREATE INDEX IF NOT EXISTS "favorite_user_id" ON "favorite" ("user_id")', [])
('CREATE INDEX IF NOT EXISTS "favorite_user_id" ON "favorite" ("user_id")', [])
('CREATE INDEX IF NOT EXISTS "favorite_tweet_id" ON "favorite" ("tweet_id")', [])
('CREATE INDEX IF NOT EXISTS "favorite_tweet_id" ON "favorite" ("tweet_id")', [])
('CREATE or replace AGGREGATE array_concat_agg(anycompatiblearray) (   SFUNC = array_cat,   STYPE = anycompatiblearray );', None)
('CREATE or replace AGGREGATE array_concat_agg(anycompatiblearray) (   SFUNC = array_cat,   STYPE = anycompatiblearray );', None)
('INSERT INTO "user" ("username") VALUES (%s) RETURNING "user"."id"', ['huey'])
('INSERT INTO "user" ("username") VALUES (%s) RETURNING "user"."id"', ['huey'])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['meow', ['1001', '1002'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 746334), 1])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['meow', ['1001', '1002'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 746334), 1])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['hiss', ['1001', '1002'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 751369), 1])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['hiss', ['1001', '1002'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 751369), 1])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['purr', ['1001', '1002'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 753382), 1])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['purr', ['1001', '1002'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 753382), 1])
('INSERT INTO "user" ("username") VALUES (%s) RETURNING "user"."id"', ['mickey'])
('INSERT INTO "user" ("username") VALUES (%s) RETURNING "user"."id"', ['mickey'])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['woof', ['1', '0', '0', '3'], 'cat2', datetime.datetime(2024, 7, 6, 0, 7, 39, 759383), 2])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['woof', ['1', '0', '0', '3'], 'cat2', datetime.datetime(2024, 7, 6, 0, 7, 39, 759383), 2])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['whine', ['1', '0', '0', '3'], 'cat2', datetime.datetime(2024, 7, 6, 0, 7, 39, 764383), 2])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['whine', ['1', '0', '0', '3'], 'cat2', datetime.datetime(2024, 7, 6, 0, 7, 39, 764383), 2])
('INSERT INTO "user" ("username") VALUES (%s) RETURNING "user"."id"', ['zaizee'])
('INSERT INTO "user" ("username") VALUES (%s) RETURNING "user"."id"', ['zaizee'])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['hello', ['1005', '1006', '1007'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 769382), 3])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['hello', ['1005', '1006', '1007'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 769382), 3])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['greet', ['1005', '1006', '1007'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 771392), 3])
('INSERT INTO "tweet" ("content", "code", "cat", "timestamp", "user_id") VALUES (%s, %s, %s, %s, %s) RETURNING "tweet"."id"', ['greet', ['1005', '1006', '1007'], 'cat1', datetime.datetime(2024, 7, 6, 0, 7, 39, 771392), 3])
('SELECT "t1"."id", "t1"."username" FROM "user" AS "t1" WHERE ("t1"."username" = %s) LIMIT %s OFFSET %s', ['huey', 1, 0])
('SELECT "t1"."id", "t1"."username" FROM "user" AS "t1" WHERE ("t1"."username" = %s) LIMIT %s OFFSET %s', ['huey', 1, 0])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['whine', 1, 0])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['whine', 1, 0])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [1, 5])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [1, 5])
('SELECT "t1"."id", "t1"."username" FROM "user" AS "t1" WHERE ("t1"."username" = %s) LIMIT %s OFFSET %s', ['mickey', 1, 0])
('SELECT "t1"."id", "t1"."username" FROM "user" AS "t1" WHERE ("t1"."username" = %s) LIMIT %s OFFSET %s', ['mickey', 1, 0])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['purr', 1, 0])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['purr', 1, 0])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [2, 3])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [2, 3])
('SELECT "t1"."id", "t1"."username" FROM "user" AS "t1" WHERE ("t1"."username" = %s) LIMIT %s OFFSET %s', ['zaizee', 1, 0])
('SELECT "t1"."id", "t1"."username" FROM "user" AS "t1" WHERE ("t1"."username" = %s) LIMIT %s OFFSET %s', ['zaizee', 1, 0])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['meow', 1, 0])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['meow', 1, 0])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [3, 1])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [3, 1])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['purr', 1, 0])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1" WHERE ("t1"."content" = %s) LIMIT %s OFFSET %s', ['purr', 1, 0])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [3, 3])
('INSERT INTO "favorite" ("user_id", "tweet_id") VALUES (%s, %s) RETURNING "favorite"."id"', [3, 3])

Tweet = meow, code = ('1001', '1002')
Tweet = hiss, code = ('1001', '1002')
Tweet = purr, code = ('1001', '1002')
Tweet = woof, code = 1003
Tweet = whine, code = 1003
Tweet = hello, code = ('1005', '1006', '1007')
Tweet = greet, code = ('1005', '1006', '1007')

In [82]:
[t for t in Tweet.select().dicts()]

('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1"', [])
('SELECT "t1"."id", "t1"."content", "t1"."code", "t1"."cat", "t1"."timestamp", "t1"."user_id" FROM "tweet" AS "t1"', [])

[{'id': 1,
  'content': 'meow',
  'code': ['1001', '1002'],
  'cat': 'cat1',
  'timestamp': datetime.datetime(2024, 7, 6, 0, 7, 39, 746334),
  'user': 1},
 {'id': 2,
  'content': 'hiss',
  'code': ['1001', '1002'],
  'cat': 'cat1',
  'timestamp': datetime.datetime(2024, 7, 6, 0, 7, 39, 751369),
  'user': 1},
 {'id': 3,
  'content': 'purr',
  'code': ['1001', '1002'],
  'cat': 'cat1',
  'timestamp': datetime.datetime(2024, 7, 6, 0, 7, 39, 753382),
  'user': 1},
 {'id': 4,
  'content': 'woof',
  'code': ['1', '0', '0', '3'],
  'cat': 'cat2',
  'timestamp': datetime.datetime(2024, 7, 6, 0, 7, 39, 759383),
  'user': 2},
 {'id': 5,
  'content': 'whine',
  'code': ['1', '0', '0', '3'],
  'cat': 'cat2',
  'timestamp': datetime.datetime(2024, 7, 6, 0, 7, 39, 764383),
  'user': 2},
 {'id': 6,
  'content': 'hello',
  'code': ['1005', '1006', '1007'],
  'cat': 'cat1',
  'timestamp': datetime.datetime(2024, 7, 6, 0, 7, 39, 769382),
  'user': 3},
 {'id': 7,
  'content': 'greet',
  'code': ['1005', '1006', '1007'],
  'cat': 'cat1',
  'timestamp': datetime.datetime(2024, 7, 6, 0, 7, 39, 771392),
  'user': 3}]

In [81]:
[t for t in Tweet.select(SQL('array_concat_agg(distinct code) as code')).group_by(Tweet.cat).dicts()]

('SELECT array_concat_agg(distinct code) as code FROM "tweet" AS "t1" GROUP BY "t1"."cat"', [])
('SELECT array_concat_agg(distinct code) as code FROM "tweet" AS "t1" GROUP BY "t1"."cat"', [])

[{'code': ['1001', '1002', '1005', '1006', '1007']},
 {'code': ['1', '0', '0', '3']}]